@import "tailwindcss";

@theme {
  --color-brand-50: #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  
  --font-sans: "Inter", "Roboto", sans-serif;
}

@layer base {
  body {
    background-color: #F9FAFB;
    color: #111827;
  }
}
